openapi: 3.0.2
info:
  title: Xwebhook API
  version: 1.1.1
  x-logo:
    altText: Xwebhook Logo
    url: https://webhook.openweb3.io/static/img/brand-padded.svg
servers:
- description: The Xwebhook EU region
  url: https://api.webhook.openweb3.io/
- description: The Xwebhook US region
  url: https://api.webhook.openweb3.io/
tags:
- description: Consumer Applications are where messages are sent to. In most cases
    you would want to have one application for each of your users.
  name: Application
- description: Messages are the webhook events being sent.
  name: Message
- description: Attempts to deliver `Message`s to `Endpoint`s.
  name: Message Attempt
- description: Endpoints are the URLs messages will be sent to. Each application can
    have up to 50 endpoints and each message sent to that application will be sent
    to all of them (unless they are not subscribed to the sent event type).
  name: Endpoint
- description: Integrations are services your users connect an application to. An
    integration can manage the application and its endpoints.
  name: Integration
- description: Event types are identifiers denoting the type of message being sent.
    Event types are primarily used to decide which events are sent to which endpoint.
  name: Event Type
- description: Easily give your users access to our pre-built management UI.
  name: Authentication
- description: Health checks for the API.
  name: Health
- description: The webhooks the Xwebhook service sends to notify you of events.
  name: Webhooks
- description: The background tasks that have been executed for your environment.
  name: Background Tasks
- description: Generate statistics about your Xwebhook utilization
  name: Statistics
paths:
  /api/v1/app:
    get:
      description: List of all the organization's applications.
      operationId: v1.application.list
      parameters:
      - description: Limit the number of returned items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Limit the number of returned items
          format: uint64
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: The iterator returned from a prior invocation
        explode: true
        in: query
        name: iterator
        required: false
        schema:
          description: The iterator returned from a prior invocation
          example: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
          nullable: true
          type: string
        style: form
      - description: The sorting order of the returned items
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/Ordering'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ApplicationOut_'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: List Applications
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const listResponseApplicationOut = await xwebhook.application.list();
      - label: TypeScript
        lang: JavaScript
        source: const listResponseApplicationOut = await xwebhook.application.list();
      - label: Python
        lang: Python
        source: list_response_application_out = xwebhook.application.list(None)
      - label: Python (Async)
        lang: Python
        source: list_response_application_out = await xwebhook.application.list(None)
      - label: Go
        lang: Go
        source: listResponseApplicationOut, err := xwebhookClient.Application.List(ctx,
          nil)
      - label: Kotlin
        lang: Kotlin
        source: val listResponseApplicationOut = xwebhook.application.list()
      - label: Java
        lang: Java
        source: ListResponseApplicationOut listResponseApplicationOut = xwebhook.getApplication().list()
      - label: Ruby
        lang: Ruby
        source: list_response_application_out = xwebhook.application.list()
      - label: Rust
        lang: Rust
        source: let list_response_application_out = xwebhook.application().list(None).await?;
      - label: C#
        lang: C#
        source: var listResponseApplicationOut = await xwebhook.Application.ListAsync()
      - label: CLI
        lang: Shell
        source: 'xwebhook application list '
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.webhook.openweb3.io/api/v1/app' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
    post:
      description: Create a new application.
      operationId: v1.application.create
      parameters:
      - description: Get an existing application, or create a new one if doesn't exist.
          It's two separate functions in the libs.
        explode: true
        in: query
        name: get_if_exists
        required: false
        schema:
          default: false
          description: Get an existing application, or create a new one if doesn't
            exist. It's two separate functions in the libs.
          type: boolean
        style: form
      - description: The request's idempotency key
        explode: false
        in: header
        name: idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationIn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Create Application
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const applicationOut = await xwebhook.application.create({
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const applicationOut = await xwebhook.application.create({
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: Python
        lang: Python
        source: |-
          application_out = xwebhook.application.create(ApplicationIn(
              name="My first application",
              rate_limit=None,
              uid="unique-app-identifier"
          ), None)
      - label: Python (Async)
        lang: Python
        source: |-
          application_out = await xwebhook.application.create(ApplicationIn(
              name="My first application",
              rate_limit=None,
              uid="unique-app-identifier"
          ), None)
      - label: Go
        lang: Go
        source: |-
          applicationOut, err := xwebhookClient.Application.Create(ctx, &ApplicationIn{
              Name: "My first application",
              RateLimit: nil,
              Uid: "unique-app-identifier",
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val applicationOut = xwebhook.application.create(ApplicationIn()
              .name("My first application")
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Java
        lang: Java
        source: |-
          ApplicationOut applicationOut = xwebhook.getApplication().create(new ApplicationIn()
              .name("My first application")
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Ruby
        lang: Ruby
        source: |-
          application_out = xwebhook.application.create(Xwebhook::ApplicationIn.new({
              "name": "My first application",
              "rate_limit": nil,
              "uid": "unique-app-identifier"
          }))
      - label: Rust
        lang: Rust
        source: |-
          let application_out = xwebhook.application().create(ApplicationIn {
              name: "My first application".to_string(),
              rate_limit: None,
              uid: Some("unique-app-identifier".to_string()),
          }, None).await?;
      - label: C#
        lang: C#
        source: |-
          var applicationOut = await xwebhook.Application.CreateAsync(new ApplicationIn{
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          })
      - label: CLI
        lang: Shell
        source: |-
          xwebhook application create '{
              "name": "My first application",
              "rateLimit": null,
              "uid": "unique-app-identifier"
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'POST' \
            'https://api.webhook.openweb3.io/api/v1/app' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "name": "My first application",
                  "rateLimit": null,
                  "uid": "unique-app-identifier"
              }'
  /api/v1/app/stats/usage:
    get:
      description: Get basic statistics for all applications.
      operationId: get_app_usage_stats_api_v1_app_stats_usage__get
      parameters:
      - description: Filter the range to data after this date
        explode: true
        in: query
        name: since
        required: true
        schema:
          description: Filter the range to data after this date
          format: date-time
          type: string
        style: form
      - description: Filter the range to data before this date
        explode: true
        in: query
        name: until
        required: true
        schema:
          description: Filter the range to data before this date
          format: date-time
          type: string
        style: form
      - description: Limit the number of returned items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          description: Limit the number of returned items
          format: int
          maximum: 250
          nullable: true
          type: integer
        style: form
      - description: The iterator to use (depends on the chosen ordering)
        explode: true
        in: query
        name: iterator
        required: false
        schema:
          description: The iterator to use (depends on the chosen ordering)
          example: app_1srOrx2ZWZBpBUvZwXKQmoEYga2
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ApplicationStats_'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Get App Usage Stats
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const listResponseApplicationStats = await xwebhook.app.stats();
      - label: TypeScript
        lang: JavaScript
        source: const listResponseApplicationStats = await xwebhook.app.stats();
      - label: Python
        lang: Python
        source: list_response_application_stats = xwebhook.app.stats()
      - label: Python (Async)
        lang: Python
        source: list_response_application_stats = await xwebhook.app.stats()
      - label: Go
        lang: Go
        source: listResponseApplicationStats, err := xwebhookClient.App.Stats(ctx)
      - label: Kotlin
        lang: Kotlin
        source: val listResponseApplicationStats = xwebhook.app.stats()
      - label: Java
        lang: Java
        source: ListResponseApplicationStats listResponseApplicationStats = xwebhook.getApp().stats()
      - label: Ruby
        lang: Ruby
        source: list_response_application_stats = xwebhook.app.stats()
      - label: Rust
        lang: Rust
        source: let list_response_application_stats = xwebhook.app().stats().await?;
      - label: C#
        lang: C#
        source: var listResponseApplicationStats = await xwebhook.App.StatsAsync()
      - label: CLI
        lang: Shell
        source: 'xwebhook app stats '
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.webhook.openweb3.io/api/v1/app/stats/usage' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
  /api/v1/app/{app_id}:
    delete:
      description: Delete an application.
      operationId: v1.application.delete
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Delete Application
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: await xwebhook.application.delete("app_id");
      - label: TypeScript
        lang: JavaScript
        source: await xwebhook.application.delete("app_id");
      - label: Python
        lang: Python
        source: xwebhook.application.delete("app_id")
      - label: Python (Async)
        lang: Python
        source: await xwebhook.application.delete("app_id")
      - label: Go
        lang: Go
        source: err := xwebhookClient.Application.Delete(ctx, "app_id")
      - label: Kotlin
        lang: Kotlin
        source: xwebhook.application.delete("app_id")
      - label: Java
        lang: Java
        source: xwebhook.getApplication().delete("app_id")
      - label: Ruby
        lang: Ruby
        source: xwebhook.application.delete("app_id")
      - label: Rust
        lang: Rust
        source: xwebhook.application().delete("app_id").await?;
      - label: C#
        lang: C#
        source: await xwebhook.Application.DeleteAsync("app_id")
      - label: CLI
        lang: Shell
        source: xwebhook application delete "app_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'DELETE' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
    get:
      description: Get an application.
      operationId: v1.application.get
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Get Application
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const applicationOut = await xwebhook.application.get("app_id");
      - label: TypeScript
        lang: JavaScript
        source: const applicationOut = await xwebhook.application.get("app_id");
      - label: Python
        lang: Python
        source: application_out = xwebhook.application.get("app_id")
      - label: Python (Async)
        lang: Python
        source: application_out = await xwebhook.application.get("app_id")
      - label: Go
        lang: Go
        source: applicationOut, err := xwebhookClient.Application.Get(ctx, "app_id")
      - label: Kotlin
        lang: Kotlin
        source: val applicationOut = xwebhook.application.get("app_id")
      - label: Java
        lang: Java
        source: ApplicationOut applicationOut = xwebhook.getApplication().get("app_id")
      - label: Ruby
        lang: Ruby
        source: application_out = xwebhook.application.get("app_id")
      - label: Rust
        lang: Rust
        source: let application_out = xwebhook.application().get("app_id").await?;
      - label: C#
        lang: C#
        source: var applicationOut = await xwebhook.Application.GetAsync("app_id")
      - label: CLI
        lang: Shell
        source: xwebhook application get "app_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
    patch:
      description: Partially update an application.
      operationId: v1.application.patch
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Patch Application
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const applicationOut = await xwebhook.application.patch("app_id", {
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const applicationOut = await xwebhook.application.patch("app_id", {
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: Python
        lang: Python
        source: |-
          application_out = xwebhook.application.patch("app_id", ApplicationPatch(
              rate_limit=None,
              uid="unique-app-identifier"
          ))
      - label: Python (Async)
        lang: Python
        source: |-
          application_out = await xwebhook.application.patch("app_id", ApplicationPatch(
              rate_limit=None,
              uid="unique-app-identifier"
          ))
      - label: Go
        lang: Go
        source: |-
          applicationOut, err := xwebhookClient.Application.Patch(ctx, "app_id", &ApplicationPatch{
              RateLimit: nil,
              Uid: "unique-app-identifier",
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val applicationOut = xwebhook.application.patch("app_id", ApplicationPatch()
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Java
        lang: Java
        source: |-
          ApplicationOut applicationOut = xwebhook.getApplication().patch("app_id", new ApplicationPatch()
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Ruby
        lang: Ruby
        source: |-
          application_out = xwebhook.application.patch("app_id", xwebhook::ApplicationPatch.new({
              "rate_limit": nil,
              "uid": "unique-app-identifier"
          }))
      - label: Rust
        lang: Rust
        source: |-
          let application_out = xwebhook.application().patch("app_id", ApplicationPatch {
              rate_limit: None,
              uid: Some("unique-app-identifier".to_string()),
          }).await?;
      - label: C#
        lang: C#
        source: |-
          var applicationOut = await xwebhook.Application.PatchAsync("app_id", new ApplicationPatch{
              rateLimit: null,
              uid: "unique-app-identifier"
          })
      - label: CLI
        lang: Shell
        source: |-
          xwebhook application patch "app_id" '{
              "rateLimit": null,
              "uid": "unique-app-identifier"
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'PATCH' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "rateLimit": null,
                  "uid": "unique-app-identifier"
              }'
    put:
      description: Update an application.
      operationId: v1.application.update
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationIn'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOut'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Update Application
      tags:
      - Application
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const applicationOut = await xwebhook.application.update("app_id", {
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const applicationOut = await xwebhook.application.update("app_id", {
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          });
      - label: Python
        lang: Python
        source: |-
          application_out = xwebhook.application.update("app_id", ApplicationIn(
              name="My first application",
              rate_limit=None,
              uid="unique-app-identifier"
          ))
      - label: Python (Async)
        lang: Python
        source: |-
          application_out = await xwebhook.application.update("app_id", ApplicationIn(
              name="My first application",
              rate_limit=None,
              uid="unique-app-identifier"
          ))
      - label: Go
        lang: Go
        source: |-
          applicationOut, err := xwebhookClient.Application.Update(ctx, "app_id", &ApplicationIn{
              Name: "My first application",
              RateLimit: nil,
              Uid: "unique-app-identifier",
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val applicationOut = xwebhook.application.update("app_id", ApplicationIn()
              .name("My first application")
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Java
        lang: Java
        source: |-
          ApplicationOut applicationOut = xwebhook.getApplication().update("app_id", new ApplicationIn()
              .name("My first application")
              .rateLimit(null)
              .uid("unique-app-identifier")
          )
      - label: Ruby
        lang: Ruby
        source: |-
          application_out = xwebhook.application.update("app_id", Xwebhook::ApplicationIn.new({
              "name": "My first application",
              "rate_limit": nil,
              "uid": "unique-app-identifier"
          }))
      - label: Rust
        lang: Rust
        source: |-
          let application_out = xwebhook.application().update("app_id", ApplicationIn {
              name: "My first application".to_string(),
              rate_limit: None,
              uid: Some("unique-app-identifier".to_string()),
          }).await?;
      - label: C#
        lang: C#
        source: |-
          var applicationOut = await xwebhook.Application.UpdateAsync("app_id", new ApplicationIn{
              name: "My first application",
              rateLimit: null,
              uid: "unique-app-identifier"
          })
      - label: CLI
        lang: Shell
        source: |-
          xwebhook application update "app_id" '{
              "name": "My first application",
              "rateLimit": null,
              "uid": "unique-app-identifier"
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'PUT' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "name": "My first application",
                  "rateLimit": null,
                  "uid": "unique-app-identifier"
              }'
  /api/v1/app/{app_id}/attempt/endpoint/{endpoint_id}:
    get:
      description: |
        List attempts by endpoint id

        Note that by default this endpoint is limited to retrieving 90 days' worth of data
        relative to now or, if an iterator is provided, 90 days before/after the time indicated
        by the iterator ID. If you require data beyond those time ranges, you will need to explicitly
        set the `before` or `after` parameter as appropriate.
      operationId: v1.message-attempt.list-by-endpoint
      parameters:
      - description: Limit the number of returned items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Limit the number of returned items
          format: uint64
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: The iterator returned from a prior invocation
        explode: true
        in: query
        name: iterator
        required: false
        schema:
          description: The iterator returned from a prior invocation
          example: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
          nullable: true
          type: string
        style: form
      - description: Filter response based on the delivery status
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/MessageStatus'
        style: form
      - description: Filter response based on the HTTP status code
        explode: true
        in: query
        name: status_code_class
        required: false
        schema:
          $ref: '#/components/schemas/StatusCodeClass'
        style: form
      - description: Filter response based on the channel
        explode: true
        in: query
        name: channel
        required: false
        schema:
          description: Filter response based on the channel
          example: project_1337
          maxLength: 128
          nullable: true
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: form
      - description: Filter response based on the tag
        explode: true
        in: query
        name: tag
        required: false
        schema:
          description: Filter response based on the tag
          example: project_1337
          maxLength: 128
          nullable: true
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: form
      - description: Only include items created before a certain date
        explode: true
        in: query
        name: before
        required: false
        schema:
          description: Only include items created before a certain date
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Only include items created after a certain date
        explode: true
        in: query
        name: after
        required: false
        schema:
          description: Only include items created after a certain date
          format: date-time
          nullable: true
          type: string
        style: form
      - description: When `true` attempt content is included in the response
        explode: true
        in: query
        name: with_content
        required: false
        schema:
          default: true
          description: When `true` attempt content is included in the response
          type: boolean
        style: form
      - description: When `true`, the message information is included in the response
        explode: true
        in: query
        name: with_msg
        required: false
        schema:
          default: false
          description: When `true`, the message information is included in the response
          type: boolean
        style: form
      - description: Filter response based on the event type
        explode: true
        in: query
        name: event_types
        required: false
        schema:
          description: Filter response based on the event type
          items:
            description: The event type's name
            example: user.signup
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            type: string
          nullable: true
          type: array
          uniqueItems: true
        style: form
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_MessageAttemptOut_'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: List Attempts By Endpoint
      tags:
      - Message Attempt
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const listResponseMessageAttemptOut = await xwebhook.messageAttempt.listByEndpoint("app_id",
          "endpoint_id");
      - label: TypeScript
        lang: JavaScript
        source: const listResponseMessageAttemptOut = await xwebhook.messageAttempt.listByEndpoint("app_id",
          "endpoint_id");
      - label: Python
        lang: Python
        source: list_response_message_attempt_out = xwebhook.message_attempt.list_by_endpoint("app_id",
          "endpoint_id", None)
      - label: Python (Async)
        lang: Python
        source: list_response_message_attempt_out = await xwebhook.message_attempt.list_by_endpoint("app_id",
          "endpoint_id", None)
      - label: Go
        lang: Go
        source: listResponseMessageAttemptOut, err := xwebhookClient.MessageAttempt.ListByEndpoint(ctx,
          "app_id", "endpoint_id", nil)
      - label: Kotlin
        lang: Kotlin
        source: val listResponseMessageAttemptOut = xwebhook.messageAttempt.listByEndpoint("app_id",
          "endpoint_id")
      - label: Java
        lang: Java
        source: ListResponseMessageAttemptOut listResponseMessageAttemptOut = xwebhook.getMessageAttempt().listByEndpoint("app_id",
          "endpoint_id")
      - label: Ruby
        lang: Ruby
        source: list_response_message_attempt_out = xwebhook.message_attempt.list_by_endpoint("app_id",
          "endpoint_id")
      - label: Rust
        lang: Rust
        source: let list_response_message_attempt_out = xwebhook.message_attempt().list_by_endpoint("app_id",
          "endpoint_id", None).await?;
      - label: C#
        lang: C#
        source: var listResponseMessageAttemptOut = await xwebhook.MessageAttempt.ListByEndpointAsync("app_id",
          "endpoint_id")
      - label: CLI
        lang: Shell
        source: xwebhook message-attempt list-by-endpoint "app_id" "endpoint_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}/attempt/endpoint/{endpoint_id}' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
  /api/v1/app/{app_id}/attempt/msg/{msg_id}:
    get:
      description: |
        List attempts by message id

        Note that by default this endpoint is limited to retrieving 90 days' worth of data
        relative to now or, if an iterator is provided, 90 days before/after the time indicated
        by the iterator ID. If you require data beyond those time ranges, you will need to explicitly
        set the `before` or `after` parameter as appropriate.
      operationId: v1.message-attempt.list-by-msg
      parameters:
      - description: Limit the number of returned items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Limit the number of returned items
          format: uint64
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: The iterator returned from a prior invocation
        explode: true
        in: query
        name: iterator
        required: false
        schema:
          description: The iterator returned from a prior invocation
          example: atmpt_1srOrx2ZWZBpBUvZwXKQmoEYga2
          nullable: true
          type: string
        style: form
      - description: Filter response based on the delivery status
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/MessageStatus'
        style: form
      - description: Filter response based on the HTTP status code
        explode: true
        in: query
        name: status_code_class
        required: false
        schema:
          $ref: '#/components/schemas/StatusCodeClass'
        style: form
      - description: Filter response based on the channel
        explode: true
        in: query
        name: channel
        required: false
        schema:
          description: Filter response based on the channel
          example: project_1337
          maxLength: 128
          nullable: true
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: form
      - description: Filter response based on the tag
        explode: true
        in: query
        name: tag
        required: false
        schema:
          description: Filter response based on the tag
          example: project_1337
          maxLength: 128
          nullable: true
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: form
      - description: Filter the attempts based on the attempted endpoint
        explode: true
        in: query
        name: endpoint_id
        required: false
        schema:
          description: Filter the attempts based on the attempted endpoint
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          nullable: true
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: form
      - description: Only include items created before a certain date
        explode: true
        in: query
        name: before
        required: false
        schema:
          description: Only include items created before a certain date
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Only include items created after a certain date
        explode: true
        in: query
        name: after
        required: false
        schema:
          description: Only include items created after a certain date
          format: date-time
          nullable: true
          type: string
        style: form
      - description: When `true` attempt content is included in the response
        explode: true
        in: query
        name: with_content
        required: false
        schema:
          default: true
          description: When `true` attempt content is included in the response
          type: boolean
        style: form
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: The msg's ID or UID
        explode: false
        in: path
        name: msg_id
        required: true
        schema:
          description: The msg's ID or UID
          example: unique-msg-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: Filter response based on the event type
        explode: true
        in: query
        name: event_types
        required: false
        schema:
          description: Filter response based on the event type
          items:
            description: The event type's name
            example: user.signup
            maxLength: 256
            pattern: ^[a-zA-Z0-9\-_.]+$
            type: string
          nullable: true
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_MessageAttemptOut_'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: List Attempts By Msg
      tags:
      - Message Attempt
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const listResponseMessageAttemptOut = await xwebhook.messageAttempt.listByMsg("app_id",
          "msg_id");
      - label: TypeScript
        lang: JavaScript
        source: const listResponseMessageAttemptOut = await xwebhook.messageAttempt.listByMsg("app_id",
          "msg_id");
      - label: Python
        lang: Python
        source: list_response_message_attempt_out = xwebhook.message_attempt.list_by_msg("app_id",
          "msg_id", None)
      - label: Python (Async)
        lang: Python
        source: list_response_message_attempt_out = await xwebhook.message_attempt.list_by_msg("app_id",
          "msg_id", None)
      - label: Go
        lang: Go
        source: listResponseMessageAttemptOut, err := xwebhookClient.MessageAttempt.ListByMsg(ctx,
          "app_id", "msg_id", nil)
      - label: Kotlin
        lang: Kotlin
        source: val listResponseMessageAttemptOut = xwebhook.messageAttempt.listByMsg("app_id",
          "msg_id")
      - label: Java
        lang: Java
        source: ListResponseMessageAttemptOut listResponseMessageAttemptOut = xwebhook.getMessageAttempt().listByMsg("app_id",
          "msg_id")
      - label: Ruby
        lang: Ruby
        source: list_response_message_attempt_out = xwebhook.message_attempt.list_by_msg("app_id",
          "msg_id")
      - label: Rust
        lang: Rust
        source: let list_response_message_attempt_out = xwebhook.message_attempt().list_by_msg("app_id",
          "msg_id", None).await?;
      - label: C#
        lang: C#
        source: var listResponseMessageAttemptOut = await xwebhook.MessageAttempt.ListByMsgAsync("app_id",
          "msg_id")
      - label: CLI
        lang: Shell
        source: xwebhook message-attempt list-by-msg "app_id" "msg_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}/attempt/msg/{msg_id}' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
  /api/v1/app/{app_id}/endpoint:
    get:
      description: List the application's endpoints.
      operationId: v1.endpoint.list
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: Limit the number of returned items
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Limit the number of returned items
          format: uint64
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: The iterator returned from a prior invocation
        explode: true
        in: query
        name: iterator
        required: false
        schema:
          description: The iterator returned from a prior invocation
          example: ep_1srOrx2ZWZBpBUvZwXKQmoEYga2
          nullable: true
          type: string
        style: form
      - description: The sorting order of the returned items
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/Ordering'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_EndpointOut_'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: List Endpoints
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const listResponseEndpointOut = await xwebhook.endpoint.list("app_id");
      - label: TypeScript
        lang: JavaScript
        source: const listResponseEndpointOut = await xwebhook.endpoint.list("app_id");
      - label: Python
        lang: Python
        source: list_response_endpoint_out = xwebhook.endpoint.list("app_id", None)
      - label: Python (Async)
        lang: Python
        source: list_response_endpoint_out = await xwebhook.endpoint.list("app_id",
          None)
      - label: Go
        lang: Go
        source: listResponseEndpointOut, err := xwebhookClient.Endpoint.List(ctx,
          "app_id", nil)
      - label: Kotlin
        lang: Kotlin
        source: val listResponseEndpointOut = xwebhook.endpoint.list("app_id")
      - label: Java
        lang: Java
        source: ListResponseEndpointOut listResponseEndpointOut = xwebhook.getEndpoint().list("app_id")
      - label: Ruby
        lang: Ruby
        source: list_response_endpoint_out = xwebhook.endpoint.list("app_id")
      - label: Rust
        lang: Rust
        source: let list_response_endpoint_out = xwebhook.endpoint().list("app_id",
          None).await?;
      - label: C#
        lang: C#
        source: var listResponseEndpointOut = await xwebhook.Endpoint.ListAsync("app_id")
      - label: CLI
        lang: Shell
        source: xwebhook endpoint list "app_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}/endpoint' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
    post:
      description: |-
        Create a new endpoint for the application.

        When `secret` is `null` the secret is automatically generated (recommended)
      operationId: v1.endpoint.create
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: The request's idempotency key
        explode: false
        in: header
        name: idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointIn'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Create Endpoint
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const endpointOut = await xwebhook.endpoint.create("app_id", {
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: ["user.signup", "user.deleted"],
              channels: ["project_123", "group_2"],
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const endpointOut = await xwebhook.endpoint.create("app_id", {
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: ["user.signup", "user.deleted"],
              channels: ["project_123", "group_2"],
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          });
      - label: Python
        lang: Python
        source: |-
          endpoint_out = xwebhook.endpoint.create("app_id", EndpointIn(
              description="An example endpoint name",
              rate_limit=None,
              uid="unique-ep-identifier",
              url="https://example.com/webhook/",
              version=1,
              disabled=False,
              filter_types=["user.signup", "user.deleted"],
              channels=["project_123", "group_2"],
              secret="whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          ), None)
      - label: Python (Async)
        lang: Python
        source: |-
          endpoint_out = await xwebhook.endpoint.create("app_id", EndpointIn(
              description="An example endpoint name",
              rate_limit=None,
              uid="unique-ep-identifier",
              url="https://example.com/webhook/",
              version=1,
              disabled=False,
              filter_types=["user.signup", "user.deleted"],
              channels=["project_123", "group_2"],
              secret="whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          ), None)
      - label: Go
        lang: Go
        source: |-
          endpointOut, err := xwebhookClient.Endpoint.Create(ctx, "app_id", &EndpointIn{
              Description: "An example endpoint name",
              RateLimit: nil,
              Uid: "unique-ep-identifier",
              Url: "https://example.com/webhook/",
              Version: 1,
              Disabled: false,
              FilterTypes: []string{"user.signup", "user.deleted"},
              Channels: []string{"project_123", "group_2"},
              Secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD",
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val endpointOut = xwebhook.endpoint.create("app_id", EndpointIn()
              .description("An example endpoint name")
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .url("https://example.com/webhook/")
              .version(1)
              .disabled(false)
              .filterTypes(arrayOf("user.signup", "user.deleted"))
              .channels(arrayOf("project_123", "group_2"))
              .secret("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD")
          )
      - label: Java
        lang: Java
        source: |-
          EndpointOut endpointOut = xwebhook.getEndpoint().create("app_id", new EndpointIn()
              .description("An example endpoint name")
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .url("https://example.com/webhook/")
              .version(1)
              .disabled(false)
              .filterTypes(new String[]{"user.signup", "user.deleted"})
              .channels(new String[]{"project_123", "group_2"})
              .secret("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD")
          )
      - label: Ruby
        lang: Ruby
        source: |-
          endpoint_out = xwebhook.endpoint.create("app_id", Xwebhook::EndpointIn.new({
              "description": "An example endpoint name",
              "rate_limit": nil,
              "uid": "unique-ep-identifier",
              "url": "https://example.com/webhook/",
              "version": 1,
              "disabled": false,
              "filter_types": ["user.signup", "user.deleted"],
              "channels": ["project_123", "group_2"],
              "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          }))
      - label: Rust
        lang: Rust
        source: |-
          let endpoint_out = xwebhook.endpoint().create("app_id", EndpointIn {
              description: Some("An example endpoint name".to_string()),
              rate_limit: None,
              uid: Some("unique-ep-identifier".to_string()),
              url: "https://example.com/webhook/".to_string(),
              version: Some(1),
              disabled: Some(false),
              filter_types: Some(vec!["user.signup".to_string(), "user.deleted".to_string()]),
              channels: Some(vec!["project_123".to_string(), "group_2".to_string()]),
              secret: Some("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD".to_string()),
          }, None).await?;
      - label: C#
        lang: C#
        source: |-
          var endpointOut = await xwebhook.Endpoint.CreateAsync("app_id", new EndpointIn{
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: new string[] {"user.signup", "user.deleted"},
              channels: new string[] {"project_123", "group_2"},
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          })
      - label: CLI
        lang: Shell
        source: |-
          xwebhook endpoint create "app_id" '{
              "description": "An example endpoint name",
              "rateLimit": null,
              "uid": "unique-ep-identifier",
              "url": "https://example.com/webhook/",
              "version": 1,
              "disabled": false,
              "filterTypes": ["user.signup", "user.deleted"],
              "channels": ["project_123", "group_2"],
              "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'POST' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}/endpoint' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "description": "An example endpoint name",
                  "rateLimit": null,
                  "uid": "unique-ep-identifier",
                  "url": "https://example.com/webhook/",
                  "version": 1,
                  "disabled": false,
                  "filterTypes": ["user.signup", "user.deleted"],
                  "channels": ["project_123", "group_2"],
                  "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
              }'
  /api/v1/app/{app_id}/endpoint/{endpoint_id}:
    delete:
      description: Delete an endpoint.
      operationId: v1.endpoint.delete
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Delete Endpoint
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: await xwebhook.endpoint.delete("app_id", "endpoint_id");
      - label: TypeScript
        lang: JavaScript
        source: await xwebhook.endpoint.delete("app_id", "endpoint_id");
      - label: Python
        lang: Python
        source: xwebhook.endpoint.delete("app_id", "endpoint_id")
      - label: Python (Async)
        lang: Python
        source: await xwebhook.endpoint.delete("app_id", "endpoint_id")
      - label: Go
        lang: Go
        source: err := xwebhookClient.Endpoint.Delete(ctx, "app_id", "endpoint_id")
      - label: Kotlin
        lang: Kotlin
        source: xwebhook.endpoint.delete("app_id", "endpoint_id")
      - label: Java
        lang: Java
        source: xwebhook.getEndpoint().delete("app_id", "endpoint_id")
      - label: Ruby
        lang: Ruby
        source: xwebhook.endpoint.delete("app_id", "endpoint_id")
      - label: Rust
        lang: Rust
        source: xwebhook.endpoint().delete("app_id", "endpoint_id").await?;
      - label: C#
        lang: C#
        source: await xwebhook.Endpoint.DeleteAsync("app_id", "endpoint_id")
      - label: CLI
        lang: Shell
        source: xwebhook endpoint delete "app_id" "endpoint_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'DELETE' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}/endpoint/{endpoint_id}' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
    get:
      description: Get an endpoint.
      operationId: v1.endpoint.get
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Get Endpoint
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const endpointOut = await xwebhook.endpoint.get("app_id", "endpoint_id");
      - label: TypeScript
        lang: JavaScript
        source: const endpointOut = await xwebhook.endpoint.get("app_id", "endpoint_id");
      - label: Python
        lang: Python
        source: endpoint_out = xwebhook.endpoint.get("app_id", "endpoint_id")
      - label: Python (Async)
        lang: Python
        source: endpoint_out = await xwebhook.endpoint.get("app_id", "endpoint_id")
      - label: Go
        lang: Go
        source: endpointOut, err := xwebhookClient.Endpoint.Get(ctx, "app_id", "endpoint_id")
      - label: Kotlin
        lang: Kotlin
        source: val endpointOut = xwebhook.endpoint.get("app_id", "endpoint_id")
      - label: Java
        lang: Java
        source: EndpointOut endpointOut = xwebhook.getEndpoint().get("app_id", "endpoint_id")
      - label: Ruby
        lang: Ruby
        source: endpoint_out = xwebhook.endpoint.get("app_id", "endpoint_id")
      - label: Rust
        lang: Rust
        source: let endpoint_out = xwebhook.endpoint().get("app_id", "endpoint_id").await?;
      - label: C#
        lang: C#
        source: var endpointOut = await xwebhook.Endpoint.GetAsync("app_id", "endpoint_id")
      - label: CLI
        lang: Shell
        source: xwebhook endpoint get "app_id" "endpoint_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}/endpoint/{endpoint_id}' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
    patch:
      description: Partially update an endpoint.
      operationId: v1.endpoint.patch
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Patch Endpoint
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const endpointOut = await xwebhook.endpoint.patch("app_id", "endpoint_id", {
              rateLimit: null,
              uid: "unique-ep-identifier",
              version: 1,
              filterTypes: null,
              channels: null,
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const endpointOut = await xwebhook.endpoint.patch("app_id", "endpoint_id", {
              rateLimit: null,
              uid: "unique-ep-identifier",
              version: 1,
              filterTypes: null,
              channels: null,
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          });
      - label: Python
        lang: Python
        source: |-
          endpoint_out = xwebhook.endpoint.patch("app_id", "endpoint_id", EndpointPatch(
              rate_limit=None,
              uid="unique-ep-identifier",
              version=1,
              filter_types=None,
              channels=None,
              secret="whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          ))
      - label: Python (Async)
        lang: Python
        source: |-
          endpoint_out = await xwebhook.endpoint.patch("app_id", "endpoint_id", EndpointPatch(
              rate_limit=None,
              uid="unique-ep-identifier",
              version=1,
              filter_types=None,
              channels=None,
              secret="whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          ))
      - label: Go
        lang: Go
        source: |-
          endpointOut, err := xwebhookClient.Endpoint.Patch(ctx, "app_id", "endpoint_id", &EndpointPatch{
              RateLimit: nil,
              Uid: "unique-ep-identifier",
              Version: 1,
              FilterTypes: nil,
              Channels: nil,
              Secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD",
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val endpointOut = xwebhook.endpoint.patch("app_id", "endpoint_id", EndpointPatch()
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .version(1)
              .filterTypes(null)
              .channels(null)
              .secret("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD")
          )
      - label: Java
        lang: Java
        source: |-
          EndpointOut endpointOut = xwebhook.getEndpoint().patch("app_id", "endpoint_id", new EndpointPatch()
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .version(1)
              .filterTypes(null)
              .channels(null)
              .secret("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD")
          )
      - label: Ruby
        lang: Ruby
        source: |-
          endpoint_out = xwebhook.endpoint.patch("app_id", "endpoint_id", Xwebhook::EndpointPatch.new({
              "rate_limit": nil,
              "uid": "unique-ep-identifier",
              "version": 1,
              "filter_types": nil,
              "channels": nil,
              "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          }))
      - label: Rust
        lang: Rust
        source: |-
          let endpoint_out = xwebhook.endpoint().patch("app_id", "endpoint_id", EndpointPatch {
              rate_limit: None,
              uid: Some("unique-ep-identifier".to_string()),
              version: Some(1),
              filter_types: None,
              channels: None,
              secret: Some("whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD".to_string()),
          }).await?;
      - label: C#
        lang: C#
        source: |-
          var endpointOut = await xwebhook.Endpoint.PatchAsync("app_id", "endpoint_id", new EndpointPatch{
              rateLimit: null,
              uid: "unique-ep-identifier",
              version: 1,
              filterTypes: null,
              channels: null,
              secret: "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          })
      - label: CLI
        lang: Shell
        source: |-
          xwebhook endpoint patch "app_id" "endpoint_id" '{
              "rateLimit": null,
              "uid": "unique-ep-identifier",
              "version": 1,
              "filterTypes": null,
              "channels": null,
              "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'PATCH' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}/endpoint/{endpoint_id}' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "rateLimit": null,
                  "uid": "unique-ep-identifier",
                  "version": 1,
                  "filterTypes": null,
                  "channels": null,
                  "secret": "whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD"
              }'
    put:
      description: Update an endpoint.
      operationId: v1.endpoint.update
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointOut'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Update Endpoint
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          const endpointOut = await xwebhook.endpoint.update("app_id", "endpoint_id", {
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: ["user.signup", "user.deleted"],
              channels: ["project_123", "group_2"]
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          const endpointOut = await xwebhook.endpoint.update("app_id", "endpoint_id", {
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: ["user.signup", "user.deleted"],
              channels: ["project_123", "group_2"]
          });
      - label: Python
        lang: Python
        source: |-
          endpoint_out = xwebhook.endpoint.update("app_id", "endpoint_id", EndpointUpdate(
              description="An example endpoint name",
              rate_limit=None,
              uid="unique-ep-identifier",
              url="https://example.com/webhook/",
              version=1,
              disabled=False,
              filter_types=["user.signup", "user.deleted"],
              channels=["project_123", "group_2"]
          ))
      - label: Python (Async)
        lang: Python
        source: |-
          endpoint_out = await xwebhook.endpoint.update("app_id", "endpoint_id", EndpointUpdate(
              description="An example endpoint name",
              rate_limit=None,
              uid="unique-ep-identifier",
              url="https://example.com/webhook/",
              version=1,
              disabled=False,
              filter_types=["user.signup", "user.deleted"],
              channels=["project_123", "group_2"]
          ))
      - label: Go
        lang: Go
        source: |-
          endpointOut, err := xwebhookClient.Endpoint.Update(ctx, "app_id", "endpoint_id", &EndpointUpdate{
              Description: "An example endpoint name",
              RateLimit: nil,
              Uid: "unique-ep-identifier",
              Url: "https://example.com/webhook/",
              Version: 1,
              Disabled: false,
              FilterTypes: []string{"user.signup", "user.deleted"},
              Channels: []string{"project_123", "group_2"},
          })
      - label: Kotlin
        lang: Kotlin
        source: |-
          val endpointOut = xwebhook.endpoint.update("app_id", "endpoint_id", EndpointUpdate()
              .description("An example endpoint name")
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .url("https://example.com/webhook/")
              .version(1)
              .disabled(false)
              .filterTypes(arrayOf("user.signup", "user.deleted"))
              .channels(arrayOf("project_123", "group_2"))
          )
      - label: Java
        lang: Java
        source: |-
          EndpointOut endpointOut = xwebhook.getEndpoint().update("app_id", "endpoint_id", new EndpointUpdate()
              .description("An example endpoint name")
              .rateLimit(null)
              .uid("unique-ep-identifier")
              .url("https://example.com/webhook/")
              .version(1)
              .disabled(false)
              .filterTypes(new String[]{"user.signup", "user.deleted"})
              .channels(new String[]{"project_123", "group_2"})
          )
      - label: Ruby
        lang: Ruby
        source: |-
          endpoint_out = xwebhook.endpoint.update("app_id", "endpoint_id", Xwebhook::EndpointUpdate.new({
              "description": "An example endpoint name",
              "rate_limit": nil,
              "uid": "unique-ep-identifier",
              "url": "https://example.com/webhook/",
              "version": 1,
              "disabled": false,
              "filter_types": ["user.signup", "user.deleted"],
              "channels": ["project_123", "group_2"]
          }))
      - label: Rust
        lang: Rust
        source: |-
          let endpoint_out = xwebhook.endpoint().update("app_id", "endpoint_id", EndpointUpdate {
              description: Some("An example endpoint name".to_string()),
              rate_limit: None,
              uid: Some("unique-ep-identifier".to_string()),
              url: "https://example.com/webhook/".to_string(),
              version: Some(1),
              disabled: Some(false),
              filter_types: Some(vec!["user.signup".to_string(), "user.deleted".to_string()]),
              channels: Some(vec!["project_123".to_string(), "group_2".to_string()]),
          }).await?;
      - label: C#
        lang: C#
        source: |-
          var endpointOut = await xwebhook.Endpoint.UpdateAsync("app_id", "endpoint_id", new EndpointUpdate{
              description: "An example endpoint name",
              rateLimit: null,
              uid: "unique-ep-identifier",
              url: "https://example.com/webhook/",
              version: 1,
              disabled: false,
              filterTypes: new string[] {"user.signup", "user.deleted"},
              channels: new string[] {"project_123", "group_2"}
          })
      - label: CLI
        lang: Shell
        source: |-
          xwebhook endpoint update "app_id" "endpoint_id" '{
              "description": "An example endpoint name",
              "rateLimit": null,
              "uid": "unique-ep-identifier",
              "url": "https://example.com/webhook/",
              "version": 1,
              "disabled": false,
              "filterTypes": ["user.signup", "user.deleted"],
              "channels": ["project_123", "group_2"]
          }'
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'PUT' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}/endpoint/{endpoint_id}' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json' \
            -d '{
                  "description": "An example endpoint name",
                  "rateLimit": null,
                  "uid": "unique-ep-identifier",
                  "url": "https://example.com/webhook/",
                  "version": 1,
                  "disabled": false,
                  "filterTypes": ["user.signup", "user.deleted"],
                  "channels": ["project_123", "group_2"]
              }'
  /api/v1/app/{app_id}/endpoint/{endpoint_id}/headers:
    get:
      description: Get the additional headers to be sent with the webhook
      operationId: v1.endpoint.get-headers
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointHeadersOut'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Get Endpoint Headers
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: const endpointHeadersOut = await xwebhook.endpoint.getHeaders("app_id",
          "endpoint_id");
      - label: TypeScript
        lang: JavaScript
        source: const endpointHeadersOut = await xwebhook.endpoint.getHeaders("app_id",
          "endpoint_id");
      - label: Python
        lang: Python
        source: endpoint_headers_out = xwebhook.endpoint.get_headers("app_id", "endpoint_id")
      - label: Python (Async)
        lang: Python
        source: endpoint_headers_out = await xwebhook.endpoint.get_headers("app_id",
          "endpoint_id")
      - label: Go
        lang: Go
        source: endpointHeadersOut, err := xwebhookClient.Endpoint.GetHeaders(ctx,
          "app_id", "endpoint_id")
      - label: Kotlin
        lang: Kotlin
        source: val endpointHeadersOut = xwebhook.endpoint.getHeaders("app_id", "endpoint_id")
      - label: Java
        lang: Java
        source: EndpointHeadersOut endpointHeadersOut = xwebhook.getEndpoint().getHeaders("app_id",
          "endpoint_id")
      - label: Ruby
        lang: Ruby
        source: endpoint_headers_out = xwebhook.endpoint.get_headers("app_id", "endpoint_id")
      - label: Rust
        lang: Rust
        source: let endpoint_headers_out = xwebhook.endpoint().get_headers("app_id",
          "endpoint_id").await?;
      - label: C#
        lang: C#
        source: var endpointHeadersOut = await xwebhook.Endpoint.GetHeadersAsync("app_id",
          "endpoint_id")
      - label: CLI
        lang: Shell
        source: xwebhook endpoint get-headers "app_id" "endpoint_id"
      - label: cURL
        lang: Shell
        source: |-
          curl -X 'GET' \
            'https://api.webhook.openweb3.io/api/v1/app/{app_id}/endpoint/{endpoint_id}/headers' \
            -H 'Authorization: Bearer AUTH_TOKEN' \
            -H 'Accept: application/json' \
            -H 'Content-Type: application/json'
    patch:
      description: Partially set the additional headers to be sent with the webhook
      operationId: v1.endpoint.patch-headers
      parameters:
      - description: The app's ID or UID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: The app's ID or UID
          example: unique-app-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      - description: The ep's ID or UID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          description: The ep's ID or UID
          example: unique-ep-identifier
          maxLength: 256
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_.]+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointHeadersPatchIn'
        required: true
      responses:
        "204":
          description: no content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorOut'
          description: Too Many Requests
      security:
      - HTTPBearer: []
      summary: Patch Endpoint Headers
      tags:
      - Endpoint
      x-codeSamples:
      - label: JavaScript
        lang: JavaScript
        source: |-
          await xwebhook.endpoint.patchHeaders("app_id", "endpoint_id", {
              headers: {"X-Example":"123","X-Foobar":"Bar"}
          });
      - label: TypeScript
        lang: JavaScript
        source: |-
          await xwebhook.endpoint.patchHeaders("app_id", "endpoint_id", {
              headers: {"X-Example":"123","X-Foobar":"Bar"}
          });
      - label: Python
        lang: Python
        source: |-
          xwebhook.endpoint.patch_headers("app_id", "endpoint_id", EndpointHeadersPatchIn(
              headers={"X-Example": "123", "X-Foobar": "Bar"}
          ))
      - label: Python (Async)
        lang: Python
        source: |-
          await xwebhook.endpoint.patch_headers("app_id", "endpoint_id", EndpointHeadersPatchIn(
              headers={"X-Example": "123", "X-Foobar": "Bar"}
[...]
